html, body {
	box-sizing: border-box;
	font-size: 62.5%;
	background: #230312;
	color: white;
}

* {
	box-sizing: inherit;
}

a {
	color: #66b2ff;
}

main {
	font-size: 2rem;
	text-align: center;
	width: 80%;
	margin: auto;
	height: 100%;
	display: flex;
  flex-direction: column;
}

form {
	padding: 3rem 0;
}

#drink img {
  max-width: 33vmax;
}

#drink {
	overflow: auto;
}

#drink #info {
	display: flex;
	gap: 1rem;
	padding: 1rem;
	align-items: start;
}

@media (max-width: 1000px) {
	#drink #info {
		flex-direction: column;
		align-items: center;
	}
}

#drink #info > * {
	flex: 1;
}

#drink table td:last-of-type {
	text-align: right;
}

table, th, td {
  border: 1px solid;
	border-collapse: collapse;
	padding: 1rem;
}

#drink-options {
	display: flex;
	overflow-x: scroll;
	width: 300px;
	margin: auto;
	scroll-behavior: smooth;
	padding-top: 20rem;
}

#drink-options > * {
	flex: 1;
	max-width: 300px;
	padding: 1rem 5rem;
}


#drink-options a {
	display: flex;
	flex-direction: column;
}

.hidden {
	display: none !important;
}